{% extends "base.html.j2" %}

{% block content %}

<h1>5th Grade Spelling Words</h1>

<ul>
    <li>
        <a href="{{ latest_url }}">Latest Words</a>
    </li>
    <li>
        <a href="{{ historic_url }}">Historic Words</a>
    </li>
</ul>

{% endblock %}