{% extends "base.html.j2" %}

{% block title %}
{{ display.site.title }} | Past Words
{% endblock %}

{% block content %}

<h1>Past Words</h1>

<ul>
{% for test in tests %}
    <li>
        <a href="test_{{ test.number }}.html">
            Test {{ test.number }}
        </a>

        {% if test.testDate %}
            — {{ test.testDate }}
        {% endif %}
    </li>
{% endfor %}
</ul>

<p>
    <a href="../index.html">← Back to Home</a>
</p>

{% endblock %}